# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache

pip-log.txt
.vscode
pibody.code-workspace
.coverage*
upload_cov.sh
sadie.code-workspace
*._.DS_Store
*.DS_Store

.ipynb_checkpoints**
local_gene_reference/*
notebooks/*
site/*
images/Sadie.ai
coverage/reports/html
coverage/reports/xml/coverage.xml
