# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache

pip-log.txt
.vscode
pibody.code-workspace
.coverage*
upload_cov.sh
sadie.code-workspace
*._.DS_Store
*.DS_Store

.ipynb_checkpoints**
local_gene_reference/*
site/*
images/Sadie.ai
coverage/reports/html
coverage/reports/xml/coverage.xml
PG9 AIRR*
test_me/*
my_output_database_path/*
sadie.workspace.code-workspace

nb/*
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation.html
airr_html_source/rearrangements.html
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation.html
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation.html
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/AIRR_logo-only.png
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/all.min.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/analytics.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/badge_only.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/doctools.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/documentation_options.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/ethicalads.min.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/index.be7d3bbb2ef33a8344ce.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/index.ff1ffe594081f20da1ef19478df9384b.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/jquery.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/pygments.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/readthedocs-analytics.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/sphinx-book-theme.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/theme.css
airr_html_source/Rearrangement Schema — AIRR Standards 1.3 documentation_files/underscore.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/AIRR_logo-only.png
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/all.min.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/analytics.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/badge_only.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/doctools.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/documentation_options.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/ethicalads.min.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/index.be7d3bbb2ef33a8344ce.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/index.ff1ffe594081f20da1ef19478df9384b.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/jquery.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/pygments.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/readthedocs-analytics.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/sphinx-book-theme.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/theme.css
airr_html_source/Repertoire Schema — AIRR Standards 1.3 documentation_files/underscore.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/AIRR_logo-only.png
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/all.min.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/analytics.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/badge_only.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/doctools.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/documentation_options.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/ethicalads.min.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/index.be7d3bbb2ef33a8344ce.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/index.ff1ffe594081f20da1ef19478df9384b.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/jquery.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/pygments.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/readthedocs-analytics.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/readthedocs-doc-embed.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/sphinx-book-theme.12a9622fbb08dcb3a2a40b2c02b83a57.js
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/sphinx-book-theme.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/theme.css
airr_html_source/Requirement Levels of AIRR Schema Fields — AIRR Standards 1.3 documentation_files/underscore.js
notebooks/refactor/AirrTable.ipynb
notebooks/refactor/test.csv
notebooks/refactor/Untitled.ipynb
notebooks/Testing/vquest_airr.tsv
notebooks/airr_clone-pass.tsv
.gitignore
