recursive-include sadie/antibody/data *
recursive-include sadie/reference/data *
recursive-include sadie/anarci/bin *
recursive-include sadie/airr/bin *
recursive-include sadie/reference/bin *
recursive-include sadie/anarci/data *
recursive-include sadie/airr/data *